<!doctype html>
<html>
    <head>
        <a href='/'>Home</a>
        <a href='/blog'>Blogs</a>
        <a href='/newpost'>New Post</a>
        <a href='/login'>Log In</a>
        <a href='/logout'>log out</a>

        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
<body>

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class='{{category}}'>{{message}}</li>

        {% endfor %}
        </ul>

    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>